
header {
font-family: 'Faster One', cursive;
font-size: xx-large;
color: #E2D784;
background-color: #062C30;
}
.Txt {
    font-family: 'Rhodium Libre', serif;
}
.colorTxt {
    color: #F5F5F5;
}
.colorbg {
    background-color: #05595B;
}

footer {
    color: #E2D784;
background-color: #062C30;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }